<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (c) 2014-present, Facebook, Inc.
 All rights reserved.

 This source code is licensed under the license found in the
 LICENSE-examples file in the root directory of this source tree.
-->
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package='com.facebook.testing.screenshot.examples'>

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <application>
    <!-- not having an empty application block seems to cause the
         instrumentation tests to fail with a ClassNotFoundException . -->
  </application>
</manifest>
